.info{
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
    margin: 60px 7%;
    border-left: 3px solid #0072BC;
    border-bottom: none;
    height: fit-content;
}
.info h2{
    color: #0072BC;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.info p{
    color: #0072BC;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 30px;
    margin-bottom: 20px;
}
.info a{
    margin: 25px auto;
    padding: 10px 30px;
    border-radius: 25px;
    background: #0072BC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

@media screen and (min-width: 200px) and (max-width:1000px){
    .info{
        border-left: none;
        border-bottom: 3px solid #0072BC;
    }
}