*{
    margin: 0;
    padding: 0;
}
.form-login-div{
    display: flex;
    flex-direction: column;
    padding: 30px  5%;
    border-radius: 25px;
    background: #0072BC;
    width: fit-content;
    margin: 5% 10%;
    justify-content: center;
}
#errorLoginMessage {
    color: white;
    font-size: 13px;
    text-align: center;
}
.form-login-div h2{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
    text-align: center;
}
.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.form-login label{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 5px auto;
}
.form-login input{
    border-radius: 25px;
    font-size: 14px;
    border: none;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 3px 7px;
    margin-bottom: 15px;
}
.form-login input:focus{
    outline: none
}
.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-bottom: 15px;
}
.checkbox input {
    margin: 0 5px 0 0;
}
.checkbox label{
    margin: 0 0 0 5px;
}
#logIn{
    padding: 10px 30px;
    color: #0072BC;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin-top: 15px;
}
.password{
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}
.password button{
    background: none;
    cursor: pointer;
    border: none;
    color: white;
    padding: 0;
    margin-left: 10px;
    transform: translateY(-15%);
}