
.feed{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    padding-top: 100px;
    padding: auto 50px;
    padding-bottom: 150px;
}
.editor{
    padding: 15px;
    width: auto;
    height: auto;
    min-height: 50px;
    max-height: 100px;
    color: black;
    outline: none;
    margin: 10px 0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    overflow: auto;

}
.editor p{
    color: black ;
    font-size: inherit;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}
.feed-container{
    color: black;
    width: 40%;
    padding: 6px 15px;
    border: 1px solid #0072BC;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}
.feed-container button{
    scale: 1.5;
    margin-left: 15px;
    border: none;
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 5px 0;
}
#profileImgOnFeed{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
p{
    color: #0072BC;
    font-size: 13px;
    margin: 1px 15px;
    padding: 1px;
    display: flex;
    align-items: center;
    align-content: center;
}
.feedPro{
    display: flex;
    flex-direction: row;
}
.postTools{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#uploadPhotoForPost{
    opacity: 0;
    width: 100px;
    height: 50px;
    z-index: 1;
    position: absolute;
}
.fileLabel {
    background-color: #0077B5; 
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
  }
  .selectedImg{
    margin: 10px 0;
    padding: 0;
    width: 100%;
    max-height: 200px;
    overflow: auto;
  }
  .selectedImg ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.selectedImg ul li{
    text-decoration: none;
    margin: 5px 10px;
    list-style: none;
}
#removeSelectedImg{
    margin-top: -30px;
    z-index: 90;
    background: #0072BC;
    color: white;
    border-radius: 25px;
    padding: 2px 4px;
}
#postButton{
    background-color: #0077B5; 
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    border: none;
}
.postedDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:#0072BC solid 2px;
    width: 550px;
    height: auto;
    margin: 10px auto;
    border-radius: 25px;
    overflow: hidden;
}
.postUI{
    color: #0072BC;
    font-size: 22px;
    margin: 15px auto;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
.postP{
    color: black;
    font-size: 17px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    font-family: 'Lato', sans-serif;
    margin: 5px 35px;
}
.postedIMG{
    width: 350px;
    height: 350px;
    margin: 0 10px;
}
.postedIMGdiv{
    display: flex;
    overflow-x: auto;
    max-width: 370px;
    margin: 20px auto;
}

@media screen and (min-width: 208px) and (max-width:1000px){
    .feed-container{
        width: 90%;
    }
    .postedDiv{
        width: 95%;
        margin: 15px 0;
    }
    .postedIMG{
        width: 150px;
        height: auto;
    }
}