.main-register{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.regHead{
    z-index: 99;
    position:fixed;
}
.main-register img{
    width: 50%;
}
.registration-form{
    background: #0072BC;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.registration-form h2{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 5px auto;;
}
.form-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-row div{
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
}
.form-row label{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 5px auto;
}

.form-row input{
    border-radius: 25px;
    font-size: 14px;
    border: none;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 3px 7px;
    margin-bottom: 15px;
}
.form-row input:focus{
    outline: none;
}
.form-row select{
    border-radius: 25px;
    font-size: 14px;
    border: none;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 9px 17px;
    margin-bottom: 15px;
    outline: none;
}
.button{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    margin: 30px auto;
}
#signUp{
    border-radius: 25px;
    outline: none;
    border: none;
    padding: 10px 30px;
    color: #0072BC;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    display: block;
    position: relative;
    align-self: center;
}

.registration-form p{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 5px auto;
}
.registration-form a{
    border-radius: 25px;
    outline: none;
    border: none;
    padding: 10px 30px;
    border: 1px solid #fff;
    color: #FFF;
    background: #0072BC;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    display: block;
    position: relative;
    align-self: center;
    text-decoration: none;
    margin-top: 20px;
}

/*make mobile version!!*/
@media screen and (min-width: 200px) and (max-width:1000px){
    .main-register img{
        display: none;
    }
    .form-row{
        flex-direction: column;
    }
}