.main{
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media screen and (min-width: 200px) and (max-width:1000px){
    .main{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}